body {
    background: -webkit-linear-gradient(to bottom, #f58928, #351b5d);
    background: linear-gradient(to bottom, #f58928, #351b5d);
    font-family: "Cabin", sans-serif;
}

#wrapper {
    margin-top: 50px;
    height: 1080px;
    background: rgba(255, 255, 255, 0.7)
}

h1,
.navbar-brand {
   font-family: "Luckiest Guy", sans-serif;
}